* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker{
  display: block  ;
  margin: 0 auto;
  padding: 10px;

  border-radius: 5px;
  text-align: center;
}
button[data-start]{
  display: block;
  margin: 30px auto;
  padding: 10px;

  border-radius: 5px;
  text-align: center;
}

.timer {
  display: grid;
  grid-template: 1fr/ repeat(4, 1fr);
  justify-items: center;
  font-size: 30px;
  margin-top: 30px;
}

.field {}

.value {}

.label {}